<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/styles.css">
    <title>Cafe</title>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #FFE6C7;">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="#">WifiCafe</a>
        <div>
            <div class="collapse navbar-collapse float-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Contact</a>
                    </li>
                </ul>
            </div>
</nav>

<header class="masthead img.rounded-corners"
        style="background-image: url({{ url_for('static', filename='images/pic1.jpg')}})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1 class="cl">WifiCafe</h1>
                    <span class="subheading">Welcome, take a chance to a life that lives a mark.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container bb">
    <div class="row">
        <div class="col">
            <iframe src="https://giphy.com/embed/p42hAArwjb6ECeKRaD" width="456" height="400" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/stickers/kaffitar-cafe-latte-kaff-p42hAArwjb6ECeKRaD"></a></p>
        </div>
        <div class="col order-last">
            <h1 class="cl">Who we are</h1>
            <span class="subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae varius mi, nec vulputate nulla.
                    Suspendisse sollicitudin arcu nec elit egestas, in sagittis odio porta. Integer vehicula mauris nec
                    dignissim tempus. Cras congue orci vel lacus malesuada, ut malesuada felis hendrerit. Donec in feli
                    facilisis purus sollicitudin bibendum. Nunc sed viverra sapien, et accumsan nis </span>
        </div>
    </div>
</div>

<div class="container bb">
    <div class="row">
        <div class="col">
            <h1 class="cl">What we serve</h1>
            <span class="subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae varius mi, nec vulputate nulla.
                    Suspendisse sollicitudin arcu nec elit egestas, in sagittis odio porta. Integer vehicula mauris nec
                    dignissim tempus. Cras congue orci vel lacus malesuada, ut malesuada felis hendrerit. Donec in feli
                    facilisis purus sollicitudin bibendum. Nunc sed viverra sapien, et accumsan nis </span>
        </div>
        <div class="col order-last">
            <iframe src="https://giphy.com/embed/fT1m0U3zrQMlkHxweG" width="436" height="400" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/stickers/coffeeisland-cy-coffee-island-coffeeisland-fT1m0U3zrQMlkHxweG"></a></p>
        </div>
    </div>
</div>

<div class="container bb">
    <div class="row">
        <div class="col">
            <iframe src="https://giphy.com/embed/b5lwvrKLVKjSgWnDVI" width="480" height="400" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/stickers/Chase-blue-phone-wifi-b5lwvrKLVKjSgWnDVI"></a></p>
        </div>
        <div class="col order-last">
            <h1 class="cl">The Wifi</h1>
            <span class="subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae varius mi, nec vulputate nulla.
                    Suspendisse sollicitudin arcu nec elit egestas, in sagittis odio porta. Integer vehicula mauris nec
                    dignissim tempus. Cras congue orci vel lacus malesuada, ut malesuada felis hendrerit. Donec in feli
                    facilisis purus sollicitudin bibendum. Nunc sed viverra sapien, et accumsan nis </span>
        </div>
    </div>
</div>


<div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel" >
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="static/images/cc.jpg" class="d-block w-100 caro" alt="...">
        </div>
        <div class="carousel-item">
            <img src="static/images/cc1.jpg" class="d-block w-100 caro"  alt="...">
        </div>
        <div class="carousel-item">
            <img src="static/images/cc3.jpg" class="d-block w-100 caro" alt="...">
        </div>
        <div class="carousel-item">
            <img src="static/images/cc2.jpg" class="d-block w-100 caro" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!--        -->
<!--        <div>-->
<!--            <img src="static/images/pic1.jpg"  alt="Picture of cafe">-->
<!--            </div>-->

<!-- Footer-->
<footer class="border-top bl">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="small text-center text-muted fst-italic bt">Copyright &copy; King-04 2023</div>
        </div>
    </div>
</footer>

<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


</body>
</html>